*{
    margin: 0px;
	padding: 0px;   
	font-family: Roboto;
	font-size: 18px;
}

@font-face{ 
    font-family: Roboto;
    src: url(../Fuentes/Roboto-Thin.ttf);
}

nav{
	width: 100%;
	height: 60px;
	background: #3497DA;
	position: fixed;
	left: 0px;
	top: 0px;
}

.d1{
	position: fixed;
	float: left;
	width: 300px;
	height: 60px;
	background:#2E86C1;
	color: cornsilk;
	text-align: center;
}

.d2{
	position: relative;
	width: 150px;
	height: 60px;
	background: #256D9E;
	float: right;
}

.imagenes2{
	margin-top: 15px;
	margin-left: 35px;
}

.d3{
	position: relative;
	width: 50px;
	height: 60px;
	background: #2E86C1;
	float: right;
	background-image: url("../Pictures/notification.png");
	background-position: center;
	background-repeat: no-repeat;
}
.d4{
	margin-top: 60px;
	width: 300px;
	height: 52px;
    background: #253443;
	position: fixed;
}
.buscador{
    margin-left: 30px;
	margin-top: 9px;
	background-image: url("../Pictures/lupa.png");
	background-repeat: no-repeat; 
	background-position: left;
	background-size: 18px 18px;
	background-color: #1c273a;
	border-radius: 15px;
	border: none;
    color: rgb(255, 255, 255);
	padding: 5px 5px  5px 25px;
	position: fixed;	
}
.d5{
	background: #1c273a;
	position: fixed;
	top: 112px;
    height: 580px;
}
ul {
    list-style-type: none;
    margin: 0;
	padding: 0;
	width: 300px;
	background-color: #1c273a;
	position: fixed;
	height: 100%;
    overflow: auto;
}
li a {
    display: block;
    color: #66717E;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: rgb(190, 53, 149);
    color: white;
}

.titulo{
	top: 62px;
	left: 350px;
	position: fixed;
}

body{
	background: #E3E7E8;
}


.imagenes{
	margin-top: 60px;
	float: right;
}

.contenedor{
	background: white;
	margin: 15px;
	top: 80px;
	padding: 10px;
	width: 75%;
	height: 100%;
	position: fixed;
	overflow:auto;
	left: 300px;
}

.Vhis{
	background-color: #BD4A67;
    height: 25px;
    width: 80px;
    font-size: 8px;
    color: white;
}

.ficha{
    width: 200px;
    float: left;
    margin-right: 20px;
	border-style: ridge;
	background-color: #EEF2F3;
	grid-template-columns: auto;
	word-break: break-all;
	word-wrap: break-word;
}

.ired{
	border-radius:150px;
	width: 100px;
	height: 100px;
	left: 10px;
	border:5px solid #BD4A67;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	background-color: #EEF2F3;
}

.grid-item {
	background-color: #EEF2F3;
	padding: 10px;
	text-align: left;
}

.grid-container2{
	display: grid;
	grid-template-columns: auto;
	background-color: #EEF2F3;
	visibility: hidden;
	top: 280px;
	left: 320px;
	width: 74%;
	position: fixed;
	padding: 10px;
}

.grid-item2 {
	background-color: #F8F9FB;
	font-size: 12px;
	text-align: left;
	padding: 5px;
}

.grid-container3 {
	display: grid;
	grid-template-columns: auto;
	background-color: #EEF2F3;
	padding: 10px;
	top: 410px;
	left: 320px;
	width: 74%;
	position: fixed;
	visibility: hidden;
}

.grid-item3 {
	background-color: #F8F9FB;
	padding: 5px;
	font-size: 16px;
	text-align: left;
}

.bstatus{
	float: right;
	font-size: 12px;
	width: 80px;
	height: 25px;
	border: none;
	color: black;
}

.statPendiente{
	background-color: rgb(243, 243, 89);
}

.statCompleto{
	background-color: rgba(32, 206, 32, 0.753);
}

.ncon{
	width: 200px;
	height: 240px;
	float: right;
    margin-right: 20px;
	border-style: ridge;
	background-color: #EEF2F3;
	grid-template-columns: auto;
	word-break: break-all;
	word-wrap: break-word;
}

.comentario{
	padding: 5px;
	border: none;
	float: left;
}
.frameContent{border: none;width: 100%;height: 90%; overflow-y:hidden}
.back{background-color: white; height: 90%; width: 100%; overflow-y:hidden}
.block{	background-color: #EEF2F3;padding: 15px 15px 15px 15px; overflow-y:hidden}
.blockinput{width: 100%; padding-bottom: 5px; padding-top: 5px; border: none;}
.btnSolicitar{	
	margin-bottom: 10px;
	border: none;
	padding-left: 5px;
	padding-right: 5px;
	width: 18%;
	height: 35px;
	float: right;
	background-color: rgb(205,80,112);
	color: white;
}



