
<head>
	
    <link rel="stylesheet" href="../CSS/normalize.css">
    <link rel="stylesheet" href="../CSS/skeleton.css">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../CSS/estilos.css">   
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
</head>

<div class="row controlColor">
	<div class="twelve columns">		
		<h2><b>Resultados</b></h2>
	</div>

	<div class="row">
		<div class="one column"></div>
		<div class="ten columns">									
			<input type="text" name="text" class="u-full-width" >			
		</div>		
		<div class="one columns">
			<button class="button send">i</button>
		</div>
		<div class="twelve columns">
			
		</div>
	</div>		

</div>