<!DOCTYPE html>
<html lang="es">  
  <head>    
    <title>iDoctor</title>    
    <meta charset="UTF-8">
    <meta name="iDoctor" content="Proyecto Final Diplomado Desarrollo web">     

    <!-- FUENTE -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 

    <!-- ESTILOS -->
    <link href="css/normalize.css" rel="stylesheet" type="text/css"/>    
    <link href="css/skeleton.css" rel="stylesheet" type="text/css"/>    
    <link href="css/style.css" rel="stylesheet" type="text/css"/>   

    <!-- FAVICON -->
    <link rel="icon" href="path/to/favicon.png">

  </head>  
  <body>   
    <div class="row">
       <div class="u-full-width">
          <div class="one columns blue2">iDoctor</div>
          <div class="nine columns blue1">.</div>
          <div class="two columns"></div>
       </div>    
    </div>
   
  </body>  
</html>